<!doctype HTML>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:900italic|Playfair+Display+SC:900|Raleway:700' rel='stylesheet' type='text/css'>
    <title>What dog is best for you?</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1>Dog Finder 8002</h1><br>
    <a href='/questions'> Click here to find your perfect dog!</a>
 
  </body>
  
</html>