<!doctype HTML>
<html>
  <head>
    <title>What dog is best for you?</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1>What Dog Is Best For You</h1><br>
    <a href='/questions'> Click here to Continue</a>
 
  </body>
  
</html>