<!doctype HTML>
<html>
  <head>
    <title>Questions</title>
      <link rel="stylesheet" type="text/css" href="css/style1.css">
  </head>
  
  <body>
    <h1> What Dog Is Best For You?</h1>
    <p> Where do you live? <p>
    <form action="">
  <img src="http://www.telegraph.co.uk/travel/destination/article125984.ece/ALTERNATES/w620/bostonwaterfront.jpg" width="456" height="234"><br>
<input type="radio" name="place" value="small">City<br>
  <img src="http://news.psu.edu/sites/default/files/styles/threshold-992/public/owner-occupied%20iStock%20floridastock.jpg" width="356" height="236"><br>
<input type="radio" name="place" value="medium">Suburban<br>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzXeK3q75NqtXm3JgD2LmWxssFfBXQkND4TS1k5LmaOMgndjGXwA" width="356" height="236"><br>  
<input type="radio" name="place" value="large">Isolated<br>


  
   
<p> How big is your home? <p>
  <img src="http://cache-blog.credit.com/wp-content/uploads/2014/09/credit-score-mortgage-680x430.jpg" width="356" height="236"><br>
<input type="radio" name="home" value="B">Large<br>
  <img src="http://www.seechicagorealestate.com/images/buena_park_vintage_640.jpg" width="356" height="236"><br>
<input type="radio" name="home" value="C">Medium<br>
  <img src="http://www.stylemotivation.com/wp-content/uploads/2013/10/18-Small-Studio-Apartment-Design-Ideas-11-620x412.jpg" width="356" height="236"><br>
<input type="radio" name="home" value="D">Small<br>

    
     <p> What dog size do you like? <p>
  <img src="http://allwallpapersnew.com/wp-content/gallery/small-dog-breeds-and-pictures/maltese.jpg" width="356" height="236"><br>
<input type="radio" name="size" value="A">Small<br>
  <img src="http://www.bowwowmeowcafe.com/medium%20dog.jpg" width="356" height="236"><br>
<input type="radio" name="size" value="B">Medium<br>
  <img src="http://d21vu35cjx7sd4.cloudfront.net/dims3/MMAH/crop/0x0%2B0%2B0/resize/645x380/quality/90/?url=http%3A%2F%2Fs3.amazonaws.com%2Fassets.prod.vetstreet.com%2Fd5%2F10e8609e8c11e0a2380050568d634f%2Ffile%2FBernese-Mtn-2-645mk062111.jpg" width="356" height="236"><br>
<input type="radio" name="size" value="C">Large<br>
 

    
    <p> What personality best suits you? <p>
  <img src="http://www.drawingnow.com/file/videos/image/how-to-draw-a-running-person-1.jpg" width="356" height="236"><br>
<<<<<<< HEAD
<input type="radio" name="personality" value="Large, Medium">Energenic<br>
=======
<input type="radio" name="personality" value="A">Energenic<br>
>>>>>>> 180ea7feb62a39a769fd3d826e9753f9b2859d01
  <img src="https://bamboofunny.files.wordpress.com/2013/07/being-lazy.png" width="356" height="236"><br>
<input type="radio" name="personality" value="B">Lazy<br>
  

      
    <p> What do you do in your free time? <p>
  <img src="http://www.toonsup.com/users/m/mark/stay_inside_080908_2114.png" width="236" height="236"><br>
<input type="radio" name="activity" value="A">Stay Inside<br>
  <img src="http://www.mmgazette.com/wp-content/uploads/2014/01/kids.jpg" width="356" height="236"><br>
<input type="radio" name="activity" value="B">Go outside<br>

    
    
    
      <input type="submit">
    </form>
    
  </body>
  
</html>