<!doctype HTML>
<html>
  <head>
    <title>Results</title>
      <link rel="stylesheet" type="text/css" href="css/style2.css">
  </head>
  <body>
    <h1> Here Are Your Results! </h1>
    <% if @dog == "small" %>
    <p> Dachshund <p>
    <img src=”http://assets.dogtime.com/breed/profile/image/4d37720801061956690021f0/dachshund-dog-breed.jpg” width="356" height="236"><br>
    <p> Beagle <p>
    <img src=”http://assets.dogtime.com/breed/profile/image/4d3771f10106195669001f8c/beagle.jpg” width="356" height="236"><br>
    <p> Pug <p>
    <img src=“http://latesthdwallpapers1.com/wp-content/uploads/2015/01/Pug-1.jpg” width="356" height="236"><br>
    <% elsif @dog == "medium" %>
    <p> Bulldog <p>
    <img src=“http://cdn.akc.org/akcdoglovers/Bulldog_cutout.png” width="356" height="236"><br>
    <p> Shiba Inu <p>
    <img src=“http://cdn-0.justdogbreeds.com/images/breeds/shiba-inu.jpg” width="356" height="236"><br>
    <p> Welsh Springer Spaniel <p>
    <img src=“http://static.ddmcdn.com/en-us/apl/breedselector/images/breed-selector/dogs/breeds/welsh-springer-spaniel_01_lg.jpg” width="356" height="236"><br>
    <% else %>
    <p> German Shepherd <p>
    <img src="http://dgicdplf3pvka.cloudfront.net/images/dogbreeds/large/German-Shepherd.jpg" width="356" height="236"><br>
    <p> Golden Retriever <p>
    <img src=“http://www.yourpurebredpuppy.com/dogbreeds/photos-EFGH/goldenretrieversf4.jpg” width="356" height="236"><br>
    <p> Newfoundland <p>
    <img src="http://d21vu35cjx7sd4.cloudfront.net/dims3/MMAH/crop/0x0%2B0%2B0/resize/645x380/quality/90/?url=http%3A%2F%2Fs3.amazonaws.com%2Fassets.prod.vetstreet.com%2F2b%2F445130a10911e087a80050568d634f%2Ffile%2FNewfoundland-1-645mk062111.jpg" width="356" height="236"><br>

   
    <%end%>
    
  </body>