h1 {
  color: #234;
  font-size: 100px;
  text-align: center;
  font-family: "Abril Fatface";
  text-decoration: underline;
  border-style: outset;
  border-width: 20px;
  border-color: red;
  background-color: white;
}

body {
  background-image: url("http://www.publicdomainpictures.net/pictures/90000/nahled/dog-background-wallpaper-design.jpg");
  text-align: center;
}

a {
  font-size: 40px;
  color: white;
  border-radius: 25px;
    background: blue;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}