h1 {
  color: #234;
  font-size: 100px;
  text-align: center;
  font-family: "Abril Fatface";
  text-decoration: underline;
  border-style: outset;
  border-width: 20px;
  border-color: red;
  background-color: white;
  }

body {
  background-image: url("http://searchpartygraphics.com/downloads/dogs/P/pawprints/pawtracksimages/doggrey290opwater.png");
  font-size: 25px;
  color: blue;
  font-weight: bold;
}

p {
  font-family: "Montserrat";
}


